/*-------------------------------------- Base Styles ---------------------------------------*/
body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #121212;
    color: #ffffff;
}


.welcome-message,
.scroll-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 1000;
}

.welcome-message.fade-out,
.scroll-prompt.fade-out {
    opacity: 0;
}

.scroll-prompt {
    opacity: 0;
    font-size: 1.25rem;
    transition: opacity 1.5s ease-in-out;
}

.scroll-prompt.show {
    opacity: 1;
}

.view-button {
    background-color: #505050;
    color: #ffffff;
    padding: 5px 10px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.view-button:hover {
    color:#ffffff;
    background-color: #212529;
}

.project {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    opacity: 0;
    /* Start with opacity 0 */
    transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
}

/* Ensure projects are visible only after .show-projects class is added to body */
body.show-projects .project {
    visibility: visible;
}

body.show-projects .project.active {
    opacity: 1;
}

.progress-bar {
    height: 5px;
    background-color: #17a2b8;
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    z-index: 1000;
}

.code-panel {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.tab-content {
    background-color: #212529;
    padding: 20px;
    border: 1px solid #495057;
    border-top: none;
    color: #f8f9fa;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #495057;
    border-radius: 5px;
}

a {
    text-decoration: none;
    /* Remove underline from all links */
    color: inherit;
}

/*-------------------------------------- Small/Medium Screen Styles ---------------------------------------*/
@media (max-width: 1050px) {
    .project-details video {
        display: none;
        /* Hide video on small screens */
    }
}